extends ../main
block title
	|Примеры работ. Портфолио. Web разработчик фрилансер Гордиенко Валенти.
block sidebar
	+ sidebar(2)
block content
	article.page-content-item
		h1.page-content-item-header Мои работы
		.page-content-item-conteiner
			ol.page-content-list
				each point in portfolio
					li.myWorks-item
						a.myWorks-item-link(href="#{point.link}" target="_blank")
							img.myWorks-item-link-img(src="images/#{point.image}" alt="#{point.alt}")
							span.myWorks-item-more Подробнее
						p.myWorks-item-header
							a.link-without-decorations.myWorks-item-header-link(href="#{point.link}" target="_blank") #{point.name}
						p.myWorks-item-content #{point.desc}
				li.myWorks-item
					a#add-new-project.link-without-decorations.add-new-project.modalWindow-start(href="#")
						.add-new-project-img
						p.add-new-project-content Добавить проект
block modal_windows
	include ../_common/add_project