include _variables

//- Menu navigation
mixin menu-navigation(activePage, wrapperClass)
	// MENU NAVIGATION
	ul.menu-navigation(class="#{wrapperClass}")
		each item in navigation
			if item.pageNumber !== activePage
				li.menu-navigation__item
					a.link-without-decorations.menu-navigation__link(href="#{item.pageLink}") #{item.pageContent}
			else
				li.menu-navigation__item
					a.link-without-decorations.menu-navigation__link.menu-navigation--active-page(href="#{item.pageLink}") #{item.pageContent}

//- Menu contacts
mixin menu-contacts(wrapperClass)
	// MENU CONTACTS
	div.menu-contacts(class="#{wrapperClass}")
		h2.menu-contacts__header Контакты
		ol.menu-contacts__list
			each point in contacts
				li.menu-contacts__item
					div.menu-contacts__item-icon(class="menu-contacts__#{point.name}-img")
						a.link-without-decorations.menu-contacts__item-link(href="#{point.href}") #{point.content}

//-Logo
mixin logo(wrapperClass)
	// LOGO
	div(class="#{wrapperClass}")
		a.logo(href="./")
			img.logo__img(src="images/logo.png" alt="Логотип LoftSchool")

//-Menu social icon
mixin menu-social-icons(wrapperClass)
	//MENU SOCIAL ICONS
	div(class="#{wrapperClass}")
		ul.menu-social-icons
			each val, index in socials
				li.menu-social-icons__item
					a(href="#{val}" class="social-icon #{index}" target="_blank") #{index}

//-Login
mixin login(wrapperClass)
	//LOGIN
	div(class="#{wrapperClass}")
		div.login#login
			a.login__link(href="./login.html") вход

//-Project list
mixin project-list(header, addID, array)
	article.page-content-item
		h2.page-content-item__header #{header}
		div.page-content-item__conteiner.clearfix
			ol.my-works-list.page-content-list
				each point in array
					li.my-works-item
						div.my-works-item__inner
							div.my-works-item__img-wrapper
								img.my-works-item__img(src="images/#{point.image}" alt="#{point.alt}")
							p.my-works-item__header
								a.link-without-decorations.my-works-item__header-link(href="#{point.link}" target="_blank") #{point.name}
							p.my-works-item__content #{point.desc}
				li.my-works-item
					a.add-new-work(id="#{addID}" href="#") Добавить проект