include _variables
//- Sidebar
mixin sidebar(activePage)
	// Sidebar
	section.side
		ul.nav-menu
			each item in sideBarNav
				if item.pageNumber !== activePage
					li.nav-menu-item
						a.link-without-decorations.nav-menu-item-link.nav-menu-item-link(href="#{item.pageLink}") #{item.pageContent}
				else
					li.nav-menu-item
						a.link-without-decorations.nav-menu-item-link.nav-menu-item-link-activePage(href="#{item.pageLink}") #{item.pageContent}
		.contact-menu
			h2.contact-menu-header
				|Контакты
			ol.contact-menu-list
				li.contact-menu-list-item
					.contact-menu-list-item-icon.mail-link
						a(href="mailto:danadj@yandex.ru" class="link-without-decorations contact-menu-list-item-link")
							|danadj@yandex.ru
				li.contact-menu-list-item
					.contact-menu-list-item-icon.celphone-link
						a(href="tel:+79522775951" class="link-without-decorations contact-menu-list-item-link")
							|+7952 277 59 51
				li.contact-menu-list-item
					.contact-menu-list-item-icon.skype-link
						a(href="skype:danadjsaintpetersburg" class="link-without-decorations contact-menu-list-item-link")
							|danadjsaintpetersburg
//-Logo
mixin logo(wrapperClass)
	// Logo
	div(class="#{wrapperClass}")
		a.logo(href="./")
			img.logo__img(src="img/logo.png" alt="Логотип LoftSchool")

//-Menu social icon
mixin menu-social-icons(wrapperClass)
	//Menu social icon
	div(class="#{wrapperClass}")
		ul.menu-social-icons
			each val, index in socials
				li.menu-social-icons__item
					a(href="#{val}" class="social-icon #{index}" target="_blank")

//-Login
mixin login(wrapperClass)
	//Login
	div(class="#{wrapperClass}")
		div.login#login
			a.login__link(href="#") вход