include _variables

//- Menu navigation
mixin menu-navigation(activePage, wrapperClass)
	// Menu navigation
	ul.menu-navigation(class="#{wrapperClass}")
		each item in navigation
			if item.pageNumber !== activePage
				li.menu-navigation__item
					a.link-without-decorations.menu-navigation__link(href="#{item.pageLink}") #{item.pageContent}
			else
				li.menu-navigation__item
					a.link-without-decorations.menu-navigation__link.menu-navigation__active-page(href="#{item.pageLink}") #{item.pageContent}

//- Menu contacts
mixin menu-contacts(wrapperClass)
	// Menu contacts
	div.menu-contacts(class="#{wrapperClass}")
		h2.menu-contacts__header Контакты
		ol.menu-contacts__list
			each point in contacts
				li.menu-contacts__item
					div.menu-contacts__item-icon(class="menu-contacts__#{point.name}-img")
						a.link-without-decorations.menu-contacts__item-link(href="#{point.href}") #{point.content}

//-Logo
mixin logo(wrapperClass)
	// Logo
	div(class="#{wrapperClass}")
		a.logo(href="./")
			img.logo__img(src="images/logo.png" alt="Логотип LoftSchool")

//-Menu social icon
mixin menu-social-icons(wrapperClass)
	//Menu social icon
	div(class="#{wrapperClass}")
		ul.menu-social-icons
			each val, index in socials
				li.menu-social-icons__item
					a(href="#{val}" class="social-icon #{index}" target="_blank") #{index}

//-Login
mixin login(wrapperClass)
	//Login
	div(class="#{wrapperClass}")
		div.login#login
			a.login__link(href="#") вход